body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.textoA{
    padding-top: 50px;
}

.servicios{
    padding-top: 50px;
}

.parrafo-texto{
    text-align:center;
    padding-left: 200px;
    padding-right: 200px;
}

.atencion-texto{
    text-align:center;
    padding-top: 25px;
    font-size: 25px;
    font-weight:bold;
    color: #FF0000;
}

.servicios div{
    display: inline-block; 
}

.servicios-imagen1P{
    
}


.servicios-imagen2{
}


.servicios-imagen3{
}

.titulo-servicios{
    text-align:center;
}


.footer{
    background-color:#F7EEEB;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}


.footer-texto{
    display: inline-block;
    font-size: 15px;
}